
<!DOCTYPE html>
<html lang="en">

<head>
	<title>Andrew Fitness Website</title>
	<meta charset="utf-8" />
	{% load static %}
	<link rel="stylesheet" href="{% static 'Home/css/bootstrap.min.css' %}" type = "text/css"/>
	<meta name="viewport" content = "width=device-width, initial-scale=2.0">
</head>

<body class="body" style="background-color:#f6f6f6">
	<div class="container-fluid" style="min-height:150%; ">
		<div class="row">
			  <div class="col-md-11">

				  </center>
				  <div>
				  <img src="{% static 'Home/img/Legendary.PNG' %}" class="responsive-img" width="200" height="300" top="135px" left="500px"  alt="face">
				  <img src="{% static 'Home/img/Andrew7.PNG' %}" class="responsive-img" width="200" height="300" top="135px" left="500px"  alt="face">
			  	  <img src="{% static 'Home/img/Andrew9.PNG' %}" class="responsive-img" width="200" height="300" top="135px" left="500px"  alt="face">
				  <img src="{% static 'Home/img/Andrew8.PNG' %}" class="responsive-img" width="200" height="300" top="135px" left="500px"  alt="face">
				  <img src="{% static 'Home/img/Andrew11.PNG' %}" class="responsive-img" width="200" height="300" top="135px" left="500px"  alt="face">

				  </div>
			  </div>
			  <div class="col-sm-10">
				  <br>
				  <center>
				  <h1>Fitness at its Finest</h1>
				  </center>
				  				<div class='container-fluid'>	

<div class="nav3" style="height:150px;">

    			  <ul class="nav">
	  <a class="nav-item nav-link active" href="/Home/">Home </a>
      <a class="nav-item nav-link" href="/Background/">Andrew's Background</a>
      <a class="nav-item nav-link" href="/Testamonials/">Customer Testamonials</a>
      <a class="nav-item nav-link" href="/Services_Offered/">Services Offered</a>
      <a class="nav-item nav-link" href="/blog/">Andrew's Fitness Blog</a>
      <a class="nav-item nav-link" href="#"> </a>
      <a class="nav-item nav-link" href="#"> </a>
      <a class="nav-item nav-link" href="#"> </a>

			  </ul>
    <a href="#" class="icons"><img src="{% static 'Home/img/Andrew10.PNG' %}"></a>
</div>		
		
		<hr>

		<div class="row">
		

			
<!--
<img src="{% static 'Home/img/Andrew4.PNG' %}" class="responsive-img" width="500" height="300" top="135px" left="200px"  alt="face">
-->
		  <div class="col-sm-10">
		  <font color="red">
			<div class='container-fluid'>
			   {% block content %}
			   {% endblock %}	
		  </font>
			</div>
		  </div>
		</div> 
	</div>
	<footer>
		<div class="container-fluid" style='margin-left:15px'>
			<p><a href="#" target="blank">Contact</a> | <a href="#" target="blank">LinkedIn</a> | <a href="#" target="blank">Twitter</a> | <a href="#" target="blank">Google+</a></p>
		</div>
	</footer>	
	
</body>

</html>
