{% extends "Home/header.html" %}
{% block content %}
<h3>Certifications and Services Offered: </h3>
<p>
Personal Trainer through American Council on Exercise (ACE). Since that point I have gotten 12 continuing education courses (CEC’s) including:
- Small Group Sports Conditioning
- Innovative Drills for Small Group Training
- XIT ‘Extreme Interval Training’
- Olympic Lifting
- Turbo Tabata
- Fitness Math
- Personal Training Program Design
- Designing a Self- Myofascial Release Program
- Six Steps to Better Program Design
- Ultimate Back Exercises for Injury Prevention and Performance
- TRX Training for Active Seniors
- The Forgotten Five Essential Muscles for Functional Movement
 </p>
 
 <h4><small> Andrew works with clients on a case by case basis.
 If you would like to work with Andrew please email andrew.wooters@gmail.com
 with your contact information and the goals you are looking to achieve.
 </small></h4>
{% endblock %}