{% extends "Home/header.html" %}
{% block content %}
<p>How long did you work out with Andrew?
6 months, it would have been longer but he decided to move to San Diego. Can’t blame him ☺
Did you find the training effective?
Absolutely. I was only able to fit in 2 workouts per week and after 2 months I was really starting to notice a difference. I gained muscle, core balance and energy.
How was Andrew as a trainer? 
Andrew has a great personality for a trainer. He’s knowledgeable and friendly, likes to talk but also lets you concentrate. He remains focused and ensures you do as well. His workouts are hard! No time to be checking your cell phone or messing around. 
How was Andrew with your children?
My kids thought it was hilarious that Andrew and I would work out in the backyard. My son would race around to all the windows and make faces at him. Andrew always gave him a high five and was super friendly to all of my kids, and my husband. It was super comfortable having him in our home. 
Do you feel as if the workouts were challenging and changing or were they boring and generally stayed the same?
I don’t remember a single workout being the same. Andrew did a great job making sure all of our workouts were different while taking input on my favorite moves and incorporating them into new sessions. I get bored very easily. I loved the accountability having Andrew as a trainer provided as well as the hard and engaging workouts. 
Last question, would you recommend Andrew to other Moms?
Yes, 100%!!
Client: Adreanne R
</p>

<p> 
How long did you work with Andrew? 
About a year
Did you find the training effective? 
Yes! Extremely effective.  I was struggling with building my strength back (aka getting my body back) post baby and was in such a rut. Everything that I was previously doing for workouts on my own pre-baby just wasn’t cutting it, and Andrew really pushed my in new ways I didn’t think my body was capable of.
How was Andrew as a trainer? 
Let me just say this. I HATE “trainers.” Typically, meat-heads, kind of arrogant, so expensive, and really not all that enjoyable to be around. Andrew is the most positive, funny, up-beat UN-trainer like trainer ever. I can honestly say I looked forward to him coming over, even on bad days. I always felt challenged, motivated, and excited for our next session. 
How was Andrew with your children? 
AWESOME. It’s like having an hour of one-on-one childcare right in front of you as you get your ass kicked. Andrew would engage my daughter in (safe) equipment to play with, and had her dancing and clapping for me after my workouts. My daughter loved when he came over! 
Did you feel like Andrew was knowledgeable as a trainer? 
Extremely - I felt like I already had fairly strong knowledge myself just from playing sports and training on my own with other coaches, but Andrew definitely takes things to another level. He was a great teacher and had a strong sense of protecting the body from past injuries, weak points, etc. Andrew also would provide on-the-go workouts if we were going out of town so we wouldn’t lose traction when we weren’t able to do our at-home sessions with him. He holds you accountable even when you don’t see him every single week.
Do you feel as if the workouts were challenging and changing or were they boring and generally stayed the same? 
Always challenging and no two work-outs were ever the same! You really can’t prepare for what your session is going to be like on any given day. He always has something new up his sleeve, but it always made sense. You can tell he is constantly self-educating and keeping up to date with new techniques, ideas, ways to improve and keep things fun and ever changing.
Last question, Would you recommend Andrew to other Moms? 
100% yes, no questions asked. I really have no desire to find another trainer now, even that Andrew is no longer in our area. I have kept all of his workout notes and we continue to work with him remotely. You cannot beat the situation that he provides either - comes to your house or wherever you find most convenient, is totally comfortable with kids and will keep them distracted, brings everything you need right to you, is willing to do one-on-one or group sessions, and is extremely reasonable. I would never have even considered an at-home trainer because I thought it would be outrageously expensive. This is every mom’s dream situation! 
Client: Kaycee R

</p>

<p>
How long did you work out with Andrew?
Six months
Did you find the training effective?
Andrew is very upbeat and positive and I always left the training feeling like I accomplished something. Andrew got me back physically where I wanted to be in the months after my child was born. 
How was Andrew as a trainer? 
Andrew is a very patient and detailed trainer.  He always took in to consideration my fitness ability and limitations.  I started working with Andrew just months after giving birth to my third child and felt Andrew always tailored my workouts with this in mind.  He always came in with a personalized plan for me that was well thought out and pushed me.
How was Andrew with your children?
Andrew was amazing with my children.  He made them feel included and yet didn’t let them take away from my workout. He has a natural way with children that put me at ease and allowed me to focus on my workout.  My kids even learned about stretching and having a healthy lifestyle!
Did you feel like Andrew was knowledgeable as a trainer? 
Andrew was very knowledgeable.  He guided me through what we were doing and why we were doing it, including making adjustments as needed on the fly based on how I was feeling. 
Do you feel as if the workouts were challenging and changing or were they boring and generally stayed the same?
The workouts were never the same.  Andrew was always innovating and challenged me in a new and unique way. It made me look forward to see what he would have us doing next.
Last question, Would you recommend Andrew to other Moms?
I would whole heartily recommend Andrew to anyone, especially other moms. 
Client: Claire W
</p>

<p>
How long did you work out with Andrew? 
I trained with Andrew for one year during my entire pregnancy with my second son. 

Did you find the training effective? 
Yes, extremely effective! Even being pregnant Andrew kept me in shape and accountable for my two training sessions each week. 

How was Andrew as a trainer? 
Andrew always showed up on time for each session and was always well prepared with a new workout routine to keep things fresh and new. Andrew trained my mom and me and was quickly and safely able  to modify our group workout to accommodate our different fitness levels. 

How was Andrew with your children? 
This was one of the BEST parts of my group training...Andrew managed to train our group as well as keep my 2 year old entertained. Sometimes carrying him on his back while working with me. I didn’t have to find child care for my son which allowed no excuses not to be there! 

Did you feel like Andrew was knowledgeable as a trainer? 
Yes, Andrew always warmed us up before every group training, worked us hard and then made sure to leave time at the end to stretch us out. He could provide modifications for any injuries or my pregnancy without any issue. 

Do you feel as if the workouts were challenging and changing or were they boring and generally stayed the same? 
Andrew always mixed up his workouts so we were always left to wonder what we would do next. He kept the training sessions fun and challenging. 

Last question, Would you recommend Andrew to other Moms? 
Yes, grab a friend and book Andrew today!! It’s the best way to spend an hour of your day with your kids, a friend, and Andrew! 

Client: Emily P

</p>
{% endblock %}