{% extends "Home/header.html" %}
{% block content %}

<h2>Andrew Wooters - Bio</h2>
<p>
I grew up on the outskirts of Washington, D.C., 
the youngest of 4 boys. 
Grew up all around sports and fitness playing football, basketball, and lacrosse through high school. 
Went to Coastal Carolina University and played lacrosse for 4 years. 
After college I emerged myself into the fitness industry starting to work at a gym in San Jose, CA working with 1 on 1 clients as well as small group classes. 
Started my own fitness company called Wooters Warriors designed for functional bootcamps. Stayed in San Jose working for 2 years, moved to San Diego in May 2017. 
With the move to San Diego, I work for Spellman Performance a sports performance training facility working with a wide range of athletes from professional, Olympic, collegiate, high school, and youth athletes - focusing on speed development, agility, as well as strength and conditioning. 
I got the opportunity to become the General Manager for Jab Boxing Club in addition to my continued work with Spellman Performance’s professional football players teaching them how to Box. Now I am the Director of Fitness at BoldFit. At BoldFit I teamed up with a group of Doctors.
 We are creating an environment that has never been seen before.
 We are connecting mind and body into a one stop shop for complete and total wellness. www.boldhealthinc.org   
</p>

{% endblock %}